<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.korail.repository.MileageMapper">

    <select id="getMileageInfo" parameterType="map"
            resultType="com.example.korail.dto.MileageDto">
        SELECT RNO, MID, ID, AccumulationDate, ChangeAmount, specifics, ExpirationDate, TYPE
        FROM
            (SELECT ROWNUM RNO, MID, ID, AccumulationDate, ChangeAmount, specifics, ExpirationDate, TYPE
             FROM
                 (SELECT MID, ID, AccumulationDate, ChangeAmount, specifics, ExpirationDate, TYPE FROM KTX_MILEAGE_HISTORY ORDER BY AccumulationDate DESC))
        WHERE ID = #{memberId} AND RNO BETWEEN #{pageDto.startCount} AND #{pageDto.endCount}
    </select>

    <select id="getMileage" parameterType="String" resultType="String">
        SELECT SUM(
                       CASE
                           WHEN TYPE = 1 THEN -ChangeAmount
                           ELSE ChangeAmount
                           END
                   ) AS TotalChangeAmount
        FROM KTX_MILEAGE_HISTORY
        WHERE ID= #{memberId}
    </select>
</mapper>