<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.example.korail.repository.PmyMapper">
		
	<select id="getSelect" parameterType="java.util.HashMap" resultType="com.example.korail.dto.OrderDto">
	    SELECT * FROM KTX_ORDER WHERE id=#{id} AND DepPlandTime BETWEEN to_date(#{date1}, 'yyyy/mm/dd') AND to_date(#{date2}, 'yyyy/mm/dd')
		<if test='cancel=="cancel"'>
			AND cancel=1
		</if>
		<if test='cancel=="payments"'>
			AND cancel=0
		</if>
	</select>

	<select id="getInfo" parameterType="String" resultType="com.example.korail.dto.OrderDto">
		SELECT sstation, rdate, depPlandTime, stime, dtime, dstation, price, reservnum, trainnum, chairnum, cancel, depPlaceId, arrPlaceId, cardnum, ticketqty
		FROM KTX_ORDER
		where reservnum=#{reservnum}
	</select>


	<update id="preferential" parameterType="String">
		UPDATE KTX_MEMBER_ADDINFO SET preferential=#{preferential} WHERE AID=#{aid}
	</update>

	<select id="oldfile" parameterType="String" resultType="String">
		SELECT ASFILE FROM KTX_MEMBER_ADDINFO WHERE AID=#{aid}
 	</select>

	<select id="mileage" parameterType="String" resultType="Integer">
		SELECT COALESCE(SUM(PRICE) * 0.005, 0) AS TOTAL_PRICE
		FROM KTX_ORDER
		WHERE ID = #{id} AND CANCEL = 0
	</select>

</mapper>
